.kjw {
    font-size: 100px;
}
.input_form {
    font-size: 18px;
    margin: -30px 10px 40px 10px;
}
.input_form_title {
    font-weight: bold;
    margin: 10px 0px 10px 3px;
}
.input_form_title:before{
    content:'· ';
    color: #0A63FF;
}
.input_form_btn {
    font-weight: bold;
    float: right;
    height: 45px;
    font-size: 15px;
}
.search_form_btn {
    font-weight: bold;
    float: right;
    height: 40px;
    font-size: 15px;
    margin-left: 10px;
}
.form-select.search_category {
    width: 100px;
    height: 40px;
}
.customer_box .customer_title_area .customer_title {
    height: 30px;
}
.radio_opt{
    margin-top: 10px;
}