<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.mapper.CommentMapper">

    <select id="selectCommentList" parameterType="String" resultType="vo.CommentVO">
        SELECT *
        from comment
        where post_no = #{postNo}
        order by comment_date desc
    </select>

    <select id="selectComment" parameterType="String" resultType="vo.CommentVO">
        SELECT *
        from comment
        where comment_no = #{commentNo}
    </select>

    <insert id="insertWrite" parameterType="vo.CommentVO">
        INSERT
        INTO comment(mem_id, post_no, comment_txt)
        VALUES(#{memId}, #{postNo}, #{commentTxt})
    </insert>

    <delete id="deleteComment">
        delete
        from comment
        where comment_no = #{commentNo}
    </delete>


    <insert id="insertWriteAnswer" parameterType="vo.QNABoardVO">
        INSERT
        INTO qna(mem_id, qna_title, qna_content, qna_p_no, qna_group)
        VALUES(#{memId}, #{qnaTitle}, #{qnaContent}, #{qnaPNo}, #{qnaGroup})
    </insert>

    <select id="selectView" parameterType="String" resultType="vo.QNABoardVO">
        select *
        from qna
        where qna_no = #{qnaNo}
    </select>


    <delete id="deletePost">
        delete
        from qna
        where qna_no = #{qnaNo}
    </delete>

    <update id="updatePost" parameterType="vo.QNABoardVO">
        update qna
        set qna_title = #{qnaTitle},
            qna_content = #{qnaContent},
            mem_id = #{memId}
        where qna_no = #{qnaNo}
<!--        and pass = #{pass}-->
    </update>

</mapper>