<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace의 값은 Mapper.interface의 경로 -->
<mapper namespace="mybatis.mapper.MemberMapper">
    <insert id="memJoin" parameterType="vo.MemberVO">
        INSERT INTO member(mem_id, mem_pw, mem_name, mem_region, mem_addr, mem_child_grade, mem_phone, mem_email)
        VALUES (#{mem_id}, #{mem_pw}, #{mem_name}, #{mem_region}, #{mem_addr}, #{mem_child_grade}, #{mem_phone}, #{mem_email})
    </insert>

    <select id="memLogin" parameterType="map" resultType="vo.MemberVO">
        SELECT *
        FROM member
        WHERE mem_id=#{mem_id} AND mem_pw=#{mem_pwd}
    </select>
</mapper>