<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.mapper.QNABoardMapper">

    <select id="selectCount" parameterType="map" resultType="int">
        select count(*)
        from qna
        <if test="searchWord != null and !searchWord.equals('')">
            where
            <choose>
                <when test="searchField == 'title'">
                    qna_title like concat('%', #{searchWord}, '%')
                </when>
                <otherwise>
                    qna_content like concat('%', #{searchWord}, '%')
                </otherwise>
            </choose>
        </if>
        order by qna_no desc
    </select>

    <select id="selectListPageWithPaging" parameterType="map" resultType="vo.QNABoardVO">
        SELECT * FROM
        ( SELECT @ROWNUM := @ROWNUM + 1 AS ROWNUM, b.*
        FROM  qna b,(SELECT @ROWNUM := 0 ) TMP

        <if test="searchWord != null and !searchWord.equals('')">
            <choose>
                <when test="searchField == 'title'">
                    WHERE qna_title LIKE CONCAT('%', #{searchWord}, '%')
                </when>
                <otherwise>
                    WHERE qna_content LIKE CONCAT('%', #{searchWord}, '%')
                </otherwise>
            </choose>
        </if>

        ORDER BY qna_no DESC ) T
        WHERE ROWNUM BETWEEN #{ start } AND #{ end } ;
    </select>

    <insert id="insertWrite" parameterType="vo.QNABoardVO">
        INSERT
        INTO qna( mem_id, qna_title, qna_content, qna_p_no)
        VALUES( #{memId}, #{qnaTitle}, #{qnaContent}, #{qnaPNo})
    </insert>

    <select id="selectView" parameterType="String" resultType="vo.QNABoardVO">
        select *
        from qna
        where qna_no = #{qnaNo}
    </select>


    <select id="confirmPassword" parameterType="map">
        select count(idx)
        from mvcboard
        where pass = #{pass} and idx = #{idx}
    </select>


    <delete id="deletePost">
        delete
        from mvcboard
        where idx = #{idx}
    </delete>

    <update id="updatePost" parameterType="vo.QNABoardVO">
        update mvcboard
        set title = #{title}, name = #{name},
        content = #{content}, ofile = #{ofile}, sfile = #{sfile}
        where idx = #{idx} and pass = #{pass}
    </update>

    <update id="downCountPlus" parameterType="String">
        update mvcboard
        set downcount = downcount + 1
        where idx = #{idx}
    </update>
</mapper>